
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div>
                <h1>Welcome to the Monolith Demo Application</h1>
                  <h2>Master's Thesis Daniel Schoberegger</h2>
              </div>
            </div>
          </div>
        </div>